{% extends 'layout.html' %}

{% block body %}

<div class="container-fluid">

    <h1 style="text-align: center; font-weight: bold; margin: 10px;">
        DASM - Data Analysis for Scheduled Maintenance
    </h1>

    <div class="row">
        <div class="col-sm-4">

            <div class="card shadow my-4">
                <div class="card-body">
                    <form id="form">
                        <div class="form-group">
                            <label for="data_inicial">Data Inicial</label>
                            <input id="data_inicial" name="data_inicial" class="form-control" type="date" value="{{ hoje }}" />
                        </div>
                        <div class="form-group">
                            <label for="data_final">Data Final</label>
                            <input id="data_final" name="data_final" class="form-control" type="date" value="{{ hoje }}" />
                        </div>
                        <button type="submit" class="btn btn-primary">Listar</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="card shadow my-4">
        <div class="card-body" id="div-grafico"></div>
    </div>

</div>

<script src="/static/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/static/js/jquery-validate/additional-methods.min.js"></script>
<script src="/static/js/jquery-validate/localization/messages_pt_BR.min.js"></script>
<script type="text/javascript" src="/static/js/chart.js/chart.min.js"></script>

<script type="text/javascript">
    "use strict";

    $("#form").validate({
        rules: {
            data_inicial: { required: true },
            data_final: { required: true }
        },
        submitHandler: function () {
            atualizarDados();
        }
    });

    async function atualizarDados() {
        waitSwal();

        try {
            let data_inicial = document.getElementById("data_inicial").value;
            let data_final = document.getElementById("data_final").value;

            if (!data_inicial || !data_final) {
                Swal.fire("Erro", "Selecione o período!", "error");
                return;
            }

            let dia_semana = (new Date(data_inicial).getDay() + 1);

            let url = `/obterDados?data_inicial=${data_inicial}&data_final=${data_final}&dia_semana=${dia_semana}`;

            let response = await fetch(url);

            if (response.ok) {

                Swal.close();

                let div = document.getElementById("div-grafico");
                div.innerHTML = '<canvas id="grafico-barras" style="height: 50vh;"></canvas>';

                let labels = [], dataArr = [];

                let dados = await response.json();
                let dadosGrafico = dados.mensal_dia_semana || [];

                if (!dadosGrafico.length) {
                    Swal.fire("Erro", "Sem dados no período especificado!", "error");
                    return;
                }

                for (let i = 0; i < dadosGrafico.length; i++) {
                    labels.push(dadosGrafico[i].dia || dadosGrafico[i].data || '');
                    dataArr.push(dadosGrafico[i].valor || dadosGrafico[i].total || 0);
                }

                let grafico = new Chart(document.getElementById("grafico-barras"), {
                    type: "bar",
                    data: {
                        labels: labels,
                        datasets: [{
                            label: "Valor",
                            backgroundColor: "#4e73df",
                            hoverBackgroundColor: "#2e59d9",
                            borderColor: "#4e73df",
                            data: dataArr,
                        }],
                    },
                    options: {
                        maintainAspectRatio: false,
                        layout: {
                            padding: {
                                left: 10,
                                right: 25,
                                top: 25,
                                bottom: 0
                            }
                        },
                        scales: {
                            x: {
                                gridLines: {
                                    display: false,
                                    drawBorder: false
                                },
                                ticks: {
                                    maxTicksLimit: 10
                                },
                                maxBarThickness: 25,
                            },
                            y: {
                                ticks: {
                                    min: 0,
                                    maxTicksLimit: 10,
                                    padding: 10
                                },
                                gridLines: {
                                    color: "rgb(234, 236, 244)",
                                    zeroLineColor: "rgb(234, 236, 244)",
                                    drawBorder: false,
                                    borderDash: [2],
                                    zeroLineBorderDash: [2]
                                }
                            },
                        },
                        plugins: {
                            legend: {
                                display: false
                            },
                            tooltip: {
                                enabled: true
                            }
                        }
                    }
                });

            } else {
                Swal.fire("Erro", "Erro ao buscar dados!", "error");
            }

        } catch (ex) {
            Swal.fire("Erro", "Erro ao listar os dados: " + ex.message, "error");
        }
    }

    // Removido: atualizarDados();

</script>

{% endblock %}