{% extends 'layout.html' %}

{% block body %}

<style>
	.textoMotivacional {
		text-align: center;
		font-size: 1rem;
		font-weight: lighter;
		margin: 20px auto;
		max-width: 850px;
	}
	.tituloSecao {
		color: white;
		font-size: 16px;
		margin-bottom: 10px;
	}
	.cardIntegrante {
		background: linear-gradient(135deg, var(--cor-3), var(--cor-6));
		border-radius: 70px 70px 70px 0px;
		padding: 20px 0px;
		text-align: center;
		min-height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 450px;
		margin-left: 80px;

	}
	.fotoIntegrante {
		width: 130px;
		height: 135px;
		object-fit: cover;
		border-radius: 20px;
		margin-bottom: 10px;
	}
	.cardIntegrante2 {
		background: linear-gradient(135deg, var(--cor-3), var(--cor-6));
		border-radius: 70px 70px 70px 0px;
		padding: 20px 0px;
		text-align: center;
		min-height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 450px;
		margin-right: 0px;
	}

	.logos {
		display: flex;
		justify-content: center;
		gap: 10px;
		margin-top: 10px;
	}
	.fab {
		font-size: 25px;
		color: white;
	}
</style>

<div class="container-fluid">
	<h1 style="text-align: center; font-weight: bold; margin: 10px; font-size: 3rem;">
		Nosso Time, Nossa Missão
	</h1>
	
	<div class="textoMotivacional">
		<p>
			No coração do DASM, pulsa uma equipe apaixonada por transformar a maneira como trabalhamos juntos. Somos mais do que desenvolvedores e designers; somos visionários, criadores e solucionadores de problemas. Nossa missão é clara: criar uma plataforma que não apenas facilite a gestão de projetos, mas que também inspire colaboração e inovação.
		</p>
		<p>
			Somos movidos pela convicção de que projetos interdisciplinares são a chave para a inovação. Cada funcionalidade do DASM, desde a gestão de tarefas até a análise de desempenho em tempo real, reflete nosso compromisso com a eficiência, a transparência e a criatividade. Enfrentamos os desafios da complexidade com tecnologia intuitiva e um olhar humano, porque acreditamos que grandes resultados vêm de grandes conexões.
		</p>
		<p>
			Nossa equipe é o coração do DASM. Somos designers, desenvolvedores, estrategistas e sonhadores, todos unidos por uma visão: capacitar equipes ao redor do mundo a transformar ideias em realidade. Cada linha de código, cada pixel desenhado e cada funcionalidade criada carrega nossa paixão por fazer a diferença.
		</p>
		<p>
			Junte-se a nós nesta missão. Seja como usuário, parceiro ou simplesmente um curioso, o DASM é mais do que uma ferramenta – é um movimento para criar, colaborar e construir o futuro, juntos.
		</p>
	</div>

	<h2 style="text-align: center; font-weight: bold; margin: 20px; font-size: 2rem;"> Conheça Nossa Equipe </h2>


		<div class="row">
			<div class="col-md-6 mb-4">
				<!-- Bianca -->
				<div class="cardIntegrante">
					<img class="fotoIntegrante" src="static/img/bianca.jpeg" alt="Foto da integrante Bianca.">
					<h2 class="tituloSecao">Bianca C. Fagundes de Araújo</h2>
					<div class="legenda">
						<p>Estudante da ESPM de Sistema de Informação - 3° semestre, 20 anos</p>
						<p>Maceió - AL</p>
					</div>
					<div class="logos">
						<a class="foto-logo" href="https://github.com/araujozb"><i class="fab fa-github"></i></a>
						<a class="foto-logo" href="https://www.linkedin.com/in/bianca-araújo-b89803229/"><i class="fab fa-linkedin"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-6 mb-4">
				<!-- Luzivania -->
				<div class="cardIntegrante">
					<img class="fotoIntegrante" src="static/img/luzi.jpeg" alt="Foto da integrante Luzivania.">
					<h2 class="tituloSecao">Luzivania de Jesus Bonfim</h2>
					<div class="legenda">
						<p>Estudante da ESPM de Sistema de Informação - 3° semestre, 19 anos</p>
						<p>São Paulo - SP</p>
					</div>
					<div class="logos">
						<a class="foto-logo" href="https://github.com/bonfim1"><i class="fab fa-github"></i></a>
						<a class="foto-logo" href="https://www.linkedin.com/in/luzivania-de-jesus-bonfim-57a481281/"><i class="fab fa-linkedin"></i></a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- Gustavo -->
			<div class="col-md-6 mb-4">
				<div class="cardIntegrante">
					<img class="fotoIntegrante" src="static/img/gu.jpeg" alt="Foto do integrante Gustavo.">
					<h2 class="tituloSecao">Gustavo Dutra Telles</h2>
					<div class="legenda">
						<p>Estudante da ESPM de Sistema de Informação - 3° semestre, 20 anos</p>
						<p>São Paulo - SP</p>
					</div>
					<div class="logos">
						<a class="foto-logo" href="https://github.com/snowdutra"><i class="fab fa-github"></i></a>
						<a class="foto-logo" href="https://www.linkedin.com/in/gustavo-dutra-/"><i class="fab fa-linkedin"></i></a>
					</div>
				</div>
			</div>

			<!-- Maria Gabriela -->
			<div class="col-md-6 mb-4">
				<div class="cardIntegrante">
					<img class="fotoIntegrante" src="static/img/maria.jpeg" alt="Foto da integrante Maria Gabriela.">
					<h2 class="tituloSecao">Maria Gabriela Vieira dos Santos</h2>
					<div class="legenda">
						<p>Estudante da ESPM de Sistema de Informação - 3° semestre, 19 anos</p>
						<p>São Paulo - SP</p>
					</div>
					<div class="logos">
						<a class="foto-logo" href="https://github.com/mgabriel4"><i class="fab fa-github"></i></a>
						<a class="foto-logo" href="https://www.linkedin.com/in/maria-gabriela-santos-34b293239/"><i class="fab fa-linkedin"></i></a>
					</div>
				</div>
			</div>
		</div>	
		<!-- Mateus -->
		<div class="row justify-content-center mb-4">
			<div class="cardIntegrante2">
				<img class="fotoIntegrante" src="static/img/mateus.jpeg" alt="Foto do integrante Mateus.">
				<h2 class="tituloSecao">Mateus Carnevale Colmeal</h2>
				<div class="legenda">
					<p>Estudante da ESPM de Sistema de Informação - 3° semestre, 20 anos</p>
					<p>Mogi das Cruzes - SP</p>
				</div>
				<div class="logos">
					<a class="foto-logo" href="https://github.com/colmeal"><i class="fab fa-github"></i></a>
				<a class="foto-logo" href="https://www.linkedin.com/in/mateus-carnevale-colmeal-579690303/"><i class="fab fa-linkedin"></i></a>
			</div>
		</div>

	</div>
</div>

{% endblock %}
