img {
	max-width: 100%;
}

html, body {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
}

.limitador {
	max-width: 1200px;
	margin: 0px auto;

	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	font-family: Signika Negative;
}

.navbar {
	background-color: transparent;
	max-height: 100px;
	margin: 10px 20px 10px 20px;
	border-radius: 20px;
}
.navbar a{
	color: black;
	text-decoration: none;
}

.conteudo {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	flex: 1 1 auto;
}

.rodape {
	text-align: center;
	background-color: rgb(255, 255, 255);
	padding: 2rem;
}

.link-rodape, .link-rodape:hover {
	color: white;
	text-decoration: none;
}
